params {
    genome = "/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"
    mips_trim_dedup = "/hpc/cog_bioinf/diagnostiek/production/Dx_mips/mips_trim_dedup.py"

    // MIPS trim dedup
    mip_design_file = "/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81_snp_mips_design.txt"
    mip_uuid_length = 8
    mip_uuid_read = "R1"

    // GATK UnifiedGenotyper
    gatk_path = "/hpc/local/CentOS7/cog_bioinf/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar"
    fingerprint_target = "/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81SNP_design.vcf"

}

profiles {

    sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            clusterOptions = '-P diaggen'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
        process.errorStrategy = 'finish'
    }
}

process {
    errorStrategy = 'finish'

    withName: FastQC {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/FastQC"
            mode = 'copy'
        }
    }

    withName: MipsTrimDedup {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/MipsTrimDedup"
            mode = 'copy'
        }
    }

    withName: BWAMEM {
        cpus = 1
        memory = '10G'
        time = '1h'
        penv = 'threaded'
    }

    withName: SambambaViewSort {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/Mapping"
            mode = 'copy'
        }
    }

    withName: GATKUnifiedGenotyper {
        cpus = 2
        memory = '5G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/GATKUnifiedGenotyper"
            mode = 'copy'
        }
    }

}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
}
