params {
    genome = "/Users/rernst/Development/DxNextflowWorkflows/files/genome/Homo_sapiens.GRCh37.GATK.illumina.fasta"
    mips_trim_dedup = "/Users/rernst/Development/DxNextflowWorkflows/tools/mips/mips_trim_dedup.py"

    // MIPS trim dedup
    mip_design_file = "/Users/rernst/Development/DxNextflowWorkflows/files/fingerprint/81_snp_mips_design.txt"
    mip_uuid_length = 8
    mip_uuid_read = "R1"

    // GATK UnifiedGenotyper
    fingerprint_target = "/Users/rernst/Development/DxNextflowWorkflows/files/fingerprint/81SNP_design.vcf"
}

profiles {

    sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            clusterOptions = '-P diaggen'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'one'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
        process.errorStrategy = 'finish'
    }
}
