includeConfig = 'profiles.config'

params {
    genome = "/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"
}

process {
    errorStrategy = 'finish'

    withLabel: FASTQC_0.11.8 {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/FastQC"
            mode = 'copy'
        }

        params.fastqc.optional = '--noextract'
    }

    withLabel: MIPS_1.0.1_TrimDedup {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/MipsTrimDedup"
            mode = 'copy'
        }

        params.mips.trim_dedup.path = '/hpc/cog_bioinf/diagnostiek/production/Dx_mips/mips_trim_dedup.py'
        params.mips.trim_dedup.design_file = '/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81_snp_mips_design.txt'
        params.mips.trim_dedup.uuid_length = 8
        params.mips.trim_dedup.uuid_read = 'R1'

    }

    withLabel: BWA_0.7.17_MEM {
        cpus = 1
        memory = '10G'
        time = '1h'
        penv = 'threaded'
        params.bwa.mem.genome = $params.genome
        params.bwa.mem.optional = '-c 100 -M'
    }

    withLabel: Sambamba_0.7.0_ViewSort {
        cpus = 1
        memory = '1G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/Mapping"
            mode = 'copy'
        }
    }

    withLabel: GATK_3.8-1-0-gf15c1c3ef_UnifiedGenotyper {
        cpus = 2
        memory = '5G'
        time = '1h'
        penv = 'threaded'

        publishDir {
            path = "$params.outdir/GATKUnifiedGenotyper"
            mode = 'copy'
        }

        params.gatk.path = '/hpc/local/CentOS7/cog_bioinf/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar'
        params.gatk.genome = $params.genome
        params.gatk.unified_genotyper.intervals = '/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81SNP_design.vcf'
        params.gatk.unified_genotyper.output_mode = 'EMIT_ALL_SITES'
    }

}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
}
