profiles {

    sge {
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-P diaggen'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'one'
    }
}

process {
    errorStrategy = 'finish'
}

params {
    genome = "/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"

    fastqc = "/hpc/local/CentOS7/cog_bioinf/FastQ-v0.11.4/fastqc"
    mips_trim_dedup = "/hpc/cog_bioinf/diagnostiek/production/Dx_mips/mips_trim_dedup.py"
    gatk = "/hpc/local/CentOS7/cog_bioinf/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar"

    // MIPS trim dedup
    mip_design_file = "/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81_snp_mips_design.txt"
    mip_uuid_length = 8
    mip_uuid_read = "R1"

    // GATK UnifiedGenotyper
    fingerprint_target = "/hpc/cog_bioinf/diagnostiek/production/Dx_tracks/fingerprint/81SNP_design.vcf"
}
