profiles {

    sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            clusterOptions = '-P diaggen'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
        process.errorStrategy = 'finish'
    }
}
