params {
    genome = '/hpc/diaggen/data/databases/ref_genomes/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta'
    dxtracks_path = '/hpc/diaggen/software/development/Dx_tracks'

    gatk_path = '/hpc/local/CentOS7/cog_bioinf/GenomeAnalysisTK-3.8-1-0-gf15c1c3ef/GenomeAnalysisTK.jar'

    gatk_rtc_options = '--known /hpc/diaggen/data/databases/GATK_resource_bundle/b37/1000G_phase1.indels.b37.vcf.gz --known /hpc/diaggen/data/databases/GATK_resource_bundle/b37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz'

    gatk_hc_interval_list = 'Tracks/ENSEMBL_UCSC_merged_collapsed_sorted_v3_CREv2_100bpflank.interval_list'
    gatk_hc_options = '-stand_call_conf 10 --dbsnp /hpc/diaggen/data/databases/GATK_resource_bundle/b37/dbsnp_137.b37.vcf.gz'

    gatk_snp_filter = "-filter 'QD < 2.0' -filterName SNP_LowQualityDepth -filter 'MQ < 40.0' -filterName SNP_MappingQuality -filter 'FS > 60.0' -filterName SNP_StrandBias -filter 'HaplotypeScore > 13.0' -filterName SNP_HaplotypeScoreHigh -filter 'MQRankSum < -12.5' -filterName SNP_MQRankSumLow -filter 'ReadPosRankSum < -8.0' -filterName SNP_ReadPosRankSumLow"
    gatk_snp_cluster = "--clusterSize 3 --clusterWindowSize 35"
    gatk_indel_filter = "-filter 'QD < 2.0' -filterName INDEL_LowQualityDepth -filter 'FS > 200.0' -filterName INDEL_StrandBias -filter 'ReadPosRankSum < -20.0' -filterName INDEL_ReadPosRankSumLow"

    fingerprint_target = 'fingerprint/81SNP_design.vcf'

    exoncov_path = '/hpc/diaggen/software/development/ExonCov'
    exoncov_bed = 'Tracks/ENSEMBL_UCSC_merged_collapsed_sorted_v3_20bpflank.bed'

    picard_bait = 'Tracks/SureSelect_CREv2_elidS30409818_Covered.list'
    picard_target = 'Tracks/ENSEMBL_UCSC_merged_collapsed_sorted_v3_20bpflank.list'

    vcftools_path = '/hpc/local/CentOS7/cog_bioinf/vcftools-0.1.14/bin'
    plink_path = '/hpc/local/CentOS7/cog_bioinf/plink_1.9b3/'
    king_path = '/hpc/local/CentOS7/cog_bioinf/king_1.4/'

    trend_analysis_path = '/hpc/diaggen/software/development/trend_analysis_tool_nextflow/'

    ped_folder = '/hpc/diaggen/data/ped_files/'

    cluster_options = "--mail-user $params.email --mail-type FAIL --account=diaggen"
}

process {
    withLabel: FASTQC_0_11_8 {
        cpus = 2
        memory = '1G'
        time = '20m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/FastQC"
            mode = 'copy'
        }
    }

    withLabel: BWA_0_7_17_MEM {
        cpus = 10
        memory = '10G'
        time = '90m'
    }

    withLabel: Sambamba_0_7_0_ViewSort {
        cpus = 10
        memory = '40G'
        time = '20m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: Sambamba_0_7_0_MarkdupMerge {
        cpus = 8
        memory = '5G'
        time = '20m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_RealignerTargetCreator {
        cpus = 2
        memory = '6G'
        time = '20m'
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_IndelRealigner {
        cpus = 2
        memory = '6G'
        time = '20m'
    }

    withLabel: Sambamba_0_7_0_ViewUnmapped {
        cpus = 2
        memory = '1G'
        time = '10m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: Sambamba_0_7_0_Merge {
        cpus = 4
        memory = '2G'
        time = '30m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/bam_files"
            mode = 'copy'
        }
    }

    withLabel: PICARD_2_22_0_IntervalListTools {
        cpus = 2
        memory = '5G'
        time = '5m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_HaplotypeCaller {
        cpus = 2
        memory = '20G'
        time = '2h'
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_VariantFiltrationSnpIndel {
        cpus = 2
        memory = '5G'
        time = '10m'
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_CombineVariants {
        cpus = 2
        memory = '10G'
        time = '10m'

        publishDir {
            path = "$params.outdir"
            mode = 'copy'
        }
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_SelectVariantsSample {
        cpus = 2
        memory = '10G'
        time = '10m'

        publishDir {
            path = "$params.outdir/single_sample_vcf"
            mode = 'copy'
        }
    }

    withLabel: GATK_3_8_1_0_gf15c1c3ef_UnifiedGenotyper {
        cpus = 2
        memory = '5G'
        time = '5m'

        publishDir {
            path = "$params.outdir/fingerprint"
            mode = 'copy'
        }
    }

    withLabel: ExonCov {
        cpus = 4
        memory = '8G'
        time = '2h'
    }

    withLabel: Kinship {
        cpus = 2
        memory = '8G'
        time = '30m'

        publishDir {
            path = "$params.outdir"
            mode = 'copy'
        }
    }

    withLabel: PICARD_2_22_0_CollectMultipleMetrics {
        cpus = 2
        memory = '8G'
        time = '30m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'copy'
        }
    }

    withLabel: PICARD_2_22_0_CollectHsMetrics {
        cpus = 2
        memory = '8G'
        time = '90m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:10G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'copy'
        }
    }

    withLabel: CreateHSmetricsSummary {
        cpus = 2
        memory = '5G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'copy'
        }
    }

    withLabel: PICARD_2_22_0_EstimateLibraryComplexity {
        cpus = 2
        memory = '8G'
        time = '30m'
        clusterOptions = "$params.cluster_options --gres=tmpspace:20G"

        publishDir {
            path = "$params.outdir/QC/Picard"
            mode = 'copy'
        }
    }

    withLabel: MultiQC_1_8 {
        cpus = 2
        memory = '1G'
        time = '5m'

        publishDir {
            path = "$params.outdir/QC"
            mode = 'copy'
        }
    }

    withLabel: Sambamba_0_7_0_Flagstat {
        cpus = 2
        memory = '5G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC/Flagstat"
            mode = 'copy'
        }
    }

    withLabel: GetStatsFromFlagstat {
        cpus = 2
        memory = '5G'
        time = '20m'

        publishDir {
            path = "$params.outdir/QC/Flagstat"
            mode = 'copy'
        }
    }

    withLabel: TrendAnalysisTool {
        cpus = 2
        memory = '5G'
        time = '1h'
    }

    withLabel: VersionLog {
        cpus = 2
        memory = '5G'
        time = '1h'

        publishDir {
            path = "$params.outdir/log"
            mode = 'copy'
        }
    }

}

report {
    enabled = true
    file = "$params.outdir/log/nextflow_report.html"
}

trace {
    enabled = true
    file = "$params.outdir/log/nextflow_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt'
}

timeline {
    enabled = true
    file = "$params.outdir/log/nextflow_timeline.html"
}

profiles {

    slurm {
        process {
            executor = 'slurm'
            queue = 'cpu'
            clusterOptions = "$params.cluster_options"

            errorStrategy = 'retry'
            maxRetries = 3
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc -B $TMPDIR:$TMPDIR'
            autoMounts = true
            cacheDir = '/hpc/diaggen/software/singularity_cache'
        }

        executor {
            queueSize = 1000
        }
    }

    mac {
        docker.enabled = true
        docker.runOptions = '-v /Users:/Users'
    }
}
