profiles {

    sge {
        process {
            executor = 'sge'
            queue = 'all.q'
            clusterOptions = '-P diaggen'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc'
            autoMounts = true
        }
    }

    slurm {
        process {
            executor = 'slurm'
            queue = 'one'
            errorStrategy = 'finish'
        }

        singularity {
            enabled = true
            runOptions = '-B /hpc:/hpc'
            autoMounts = true
        }
    }

    mac {
        docker.enabled = true
        process.errorStrategy = 'finish'
    }
}

params {
    genome = "/hpc/cog_bioinf/GENOMES/Homo_sapiens.GRCh37.GATK.illumina/Homo_sapiens.GRCh37.GATK.illumina.fasta"
    outdir = "wes_out"
}
